<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<p id="notice"><%= notice %></p>

<h1 style="text-align: center;">New Twittter</h1>

<%= render 'form', twittter: @twittter %>
<div class="footer">
<h2>All right Reserved@TweeterClone</h2>
</div>

</body>
</html>
