<p id="notice"><%= notice %></p>

<p style="text-align: center;">
  <strong>Content:</strong><br>
  <%= @twittter.content %>
</p>
<center>
<%= link_to 'Edit', edit_twittter_path(@twittter),class:'link3' %>
<%= link_to 'Back', twittters_path,class:'link2' %>
</center><br><br>
<div class="footer">
  <h2>All right Reserved@TweeterClone</h2>
</div>