<p id="notice"><%= notice %></p>

<p style="text-align: center;">
  <strong>Content:</strong><br>
  <%= @twittter.content %>
</p>
<center>
<%= link_to 'confirm', twittters_path, class:'link2' %>
<%= link_to 'Back', edit_twittter_path(@twittter), class:'link3' %>
</center><br><br>
<div class="footer">
  <h2>All right Reserved@TweeterClone</h2>
</div>